[unit]
Description=Purdue Monitor Proxy
After=docker.service
Requires=docker.service
After=monitor-frontend.service
Requires=monitor-frontend.service

StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=2

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop monitor-proxy
ExecStart=/usr/bin/docker run \
--env "LETSENCRYPT_HOST=monitor.seal.purdue.wtf" \
--env "LETSENCRYPT_EMAIL=santiagotorres@purdue.edu" \
--env "VIRTUAL_HOST=monitor.seal.purdue.wtf" \
--network=purdue-monitor \
--name monitor-proxy \
--rm \
--expose 443 \
sigstoremonitor/monitor-proxy

[Install]
WantedBy=multi-user.target
