[Unit]
Description=Public Rekor Monitor Backend
After=docker.service
Requires=docker.service
Requires=acme-companion.service
After=monitor-mirror.service
Requires=monitor-mirror.service

StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=2

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop monitor-backend
ExecStart=/usr/bin/docker run \
--env "DB_HOST=monitor-db.purdue-monitor" \
--env "DB_NAME=monitor" \
--env "DB_ROOT_PASSWORD=test" \
--network=purdue-monitor \
--expose 5000 \
--name monitor-backend \
--rm \
sigstoremonitor/monitor-backend:test

[Install]
WantedBy=multi-user.target
