[Unit]
Description=Purdue Rekor Monitor Monitoring Service 
After=docker.service
Requires=docker.service
After=monitor-db.service
Requires=monitor-db.service

StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=1

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop monitor-mirror
ExecStart=/usr/bin/docker run \
--env "DB_HOST=monitor-db.purdue-monitor" \
--env "DB_NAME=monitor" \
--env "DB_PASSWORD=test" \
--network=purdue-monitor \
--name monitor-mirror \
--rm \
sigstoremonitor/monitor-mirror:test

[Install]
WantedBy=multi-user.target
